.modal {
	position: fixed;
	display: none;
	align-items: center;
	z-index: 1;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
}

.modal-content {
  position: absolute;
	display: flex;
	flex-direction: column;
  left: calc(100% - 33%);
  background: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 70%;
}

.modal-content .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 10%;
	border-bottom: 1px solid #000;
}
.modal-content .modal-body {
	display: flex;
	flex-direction: column;
	flex: 0 0 75%;
	overflow: scroll;
}
.modal-content .modal-footer {
	display: flex;
	justify-content: end;
	align-items: center;
	flex: 0 0 10%;
}

.modal-content .close {
  font-size: 28px;
  color: #aaa;
  transition: color 0.3s ease-in-out;
	cursor: pointer;
}
.modal-content .close:hover {
  color: #000;
}

.modal-content .btn-dark {
  color: #fff;
	padding: 10px 15px;
	border: none;
  background: #343a40;
	border-radius: 4px;
}
.modal-content .btn-dark:hover {
  color: #fff;
  background: #23272b;
}

.modal-content p {
	margin: 0;
}
.modal-content h2 { 
	margin: 10px auto 0 0;
}

#modalGameDifficult .modal-content .modal-body div.row {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

